/* Design when screen size is between pc and phone size */

@media only screen and (max-width: 1080px) {
    .business {
        display: none;
    }
}
@media only screen and (max-width: 920px) {
    .teach {
        display: none;
    }
}
@media only screen and (max-width: 920px) {
    .navbar-categories {
        display: none;
    }
}